<app-navbar></app-navbar>
<div class="main">
        <div class="container">
                <div class="row main-heading">
                  <div class="col-lg-12" style="text-align:center;">
                    <h1 style="font-weight:inherit; font-size: 55px;">{{this.categoryData?.categoryName}} Category</h1>
                    <div class="col-sm-12">
                    This is a {{this.categoryData?.type}} Category
                    </div>
                  </div>
                </div>
                <div class="row container"> 
                        <label class="btn-warning btn-lg" style="background-color:#002f6a ;"> <div class="col-md-12">
                            
                            <h3 style="font-weight:bold; font-size: 40px; color: white;">About</h3>
                    </div> 
                </label>
                    <div class="col-md-12 container" style="outline: 3px solid #020122; "> 
                    
                      <p style="font-weight: inherit; color: black;">{{this.categoryData?.categoryDescription}}</p>
                     
                      </div>
                    </div>
                
                <div class="row main-heading">
                        <div class="col-lg-12" style="text-align:center;">
                          <label class="btn-warning btn-lg" style="background-color: #F18F01;">
                      <h3 style="font-weight: inherit; color: black;">Subcategories</h3></label>
                      </div>
                    </div>
                    <div class="row text-center">
                            <div class="col-md-3 col-sm-12 col-xs-12 square"  (click)="addSubCategory();">
                              <i class="fas fa-plus" style="font-size:48px; color: white;" ></i>
                              <div class="mt-4 col-md-12">
                          
                              </div>
                              <h5 style="font-weight: inherit; color: white;"> Add sub-category</h5>
                          </div>

                          <div class="col-md-12" *ngFor="let subcategory of subCategoriesData; let i = index;">
                            <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 square" [routerLink]="['/root-admin/category',subcategory?._id]">
                                <h3 style="color:white;">{{subcategory?.categoryName}}</h3>

                            </div> 
                            <div class="col-md-8 square-description" style="outline: 3px solid #020122; "> 
                    
                                <p style="font-weight: inherit; color: black;">{{this.subcategory?.categoryDescription}}</p>
                                <i class="fas fa-edit" (click)="updateCategory(subcategory?._id, subcategory?.categoryName, subcategory?.categoryDescription)" style="font-size:24px; color: #005fd5; float: left; cursor: pointer;"></i>
                                <i class="fas fa-eye" [routerLink]="['/root-admin/category',subcategory?._id]" routerLinkActive="router-link-active"  style="font-size:24px; color: #005fd5; cursor: pointer;float: none; margin: 0 auto;"></i>
                                <i class="fas fa-archive" (click)="deleteCategory(subcategory?._id)" style="font-size:24px; color: #005fd5;float: right; cursor: pointer;"></i>
                               
                                </div>
                            </div>
                          </div>
                          </div>

                          <div class="row main-heading" *ngIf="this.categoryData?.type == 'sub'">
                              <div class="col-lg-12" style="text-align:center;">
                                <label class="btn-warning btn-lg" style="background-color: #F18F01;">
                            <h3 style="font-weight: inherit; color: black;">Products</h3></label>
                            </div>
                          </div>
                        <div class="row  text-center" *ngIf="this.categoryData?.type == 'sub'" (click)="navigateToAddProduct(this.categoryId)" routerLinkActive="router-link-active">
                            <div class="col-md-3 col-sm-12 col-xs-12 square">
                                <i class="fas fa-plus" style="font-size:48px; color: white;" ></i>
                                <div class="mt-4 col-md-12">
                            
                                </div>
                                <h5 style="font-weight: inherit; color: white;" > Add Product</h5>
                            </div>  

                            <div class="col-md-12" *ngFor="let product of product; let i = index;">
                                <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12 square">
                                    <h3 style="color:white;">{{product?.name}}</h3>
    
                                </div> 
                                <div class="col-md-8 square-description" style="outline: 3px solid #020122; "> 
                        
                                    <p style="font-weight: inherit; color: black;">{{this.product?.description}}</p>
                                    <i class="fas fa-edit" style="font-size:24px; color: teal; float: left; cursor: pointer;"></i>
                                    <i class="fas fa-eye" routerLink="/product/{{this.product?._id}}" routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  style="font-size:24px; color: black; cursor: pointer;float: none; margin: 0 auto;"></i>
                                    <i class="fas fa-archive" style="font-size:24px; color: darkred;float: right; cursor: pointer;"></i>
                                   
                                    </div>
                                </div>
                              </div>
                        </div>
 
    </div>