<app-navbar></app-navbar>
<div class="main">
        <div class="container">
                <div class="row main-heading">
                  <div class="col-lg-12" style="text-align:center;">
                    <h1 style="font-weight:inherit; font-size: 55px;">{{this.categoryData?.categoryName}} Category</h1>
                    <div class="col-sm-12" *ngIf="this.categoryData?.type == 'root'">
                    This is a {{this.categoryData?.type}} Category, therefore please select sub category
                    </div>
                    <div class="col-sm-12" *ngIf="this.categoryData?.type == 'sub'">
                      This is a {{this.categoryData?.type}} Category.
                      </div>
                      <div class="col-sm-12" *ngIf="this.categoryData?.type == 'sub'">
                        Either select a sub category(if exist) or add a product here.
                        </div>
                  </div>
                </div>
                <div class="row">
                    <div class="mt-4 col-md-12">
                  
                    </div>
                  
                  </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; background-color: #005fd5;">
                              <h4 style="color:white;">Category Path</h4></label>
                            
                        </div>
                        <div class="col-md-6">
                            
                            <label class=" btn btn-sm form-control btn-success" style=" height: 50px; font-weight: bold; cursor: text;">
                                <h4 style="color:white;">
                                    <span>Home/</span>
                                    <span *ngFor="let category of categoryList.slice().reverse() ">{{category?.categoryName}}/</span>
                                </h4>
                            </label>
                            
                        </div>
                    </div>
                  
                  </div>
                  <div class="row">
                      <div class="mt-4 col-md-12">
                    
                      </div>
                    
                    </div>
                <div class="row container"> 
                        <label class="btn-warning btn-lg" style="background-color:#002f6a ;"> <div class="col-md-12">
                            
                            <h3 style="font-weight:bold; font-size: 40px; color: white;">About</h3>
                    </div> 
                </label>
                    <div class="col-md-12 container" style="outline: 3px solid #020122; "> 
                    
                      <p style="font-weight: inherit; color: black;">{{this.categoryData?.categoryDescription}}</p>
                     
                      </div>
                    </div>
                    <div *ngIf="this.categoryData?.type == 'sub'">
                    <div class="row main-heading">
                      <div class="col-lg-12" style="text-align:center;">
                        <label class="btn-warning btn-lg" style="background-color: #F18F01;">
                    <h3 style="font-weight: inherit; color: black;">Parent Category</h3></label>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-md-12" >
                      <div class="row">
                      <div class="col-md-3 col-sm-12 col-xs-12 square" [routerLink]="['/root-admin/product/category',parentCategory?._id]">
                          <h3 style="color:white;">{{parentCategory?.categoryName}}</h3>

                      </div> 
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row main-heading">
                        <div class="col-lg-12" style="text-align:center;">
                          <label class="btn-warning btn-lg" style="background-color: #F18F01;">
                      <h3 style="font-weight: inherit; color: black;">Subcategories</h3></label>
                      </div>
                    </div>
                    <div class="row text-center">

                          <div class="col-md-12" >
                            <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 square" *ngFor="let subcategory of subCategoriesData; let i = index;" [routerLink]="['/root-admin/product/category',subcategory?._id]">
                                <h3 style="color:white;">{{subcategory?.categoryName}}</h3>

                            </div> 
                            </div>
                          </div>
                          </div>

                          <div class="row main-heading" *ngIf="this.categoryData?.type == 'sub'">
                              <div class="col-lg-12" style="text-align:center;">
                                <label class="btn-warning btn-lg" style="background-color: #F18F01;">
                            <h3 style="font-weight: inherit; color: black;">Products</h3></label>
                            </div>
                          </div>
                        <div class="row  text-center" *ngIf="this.categoryData?.type == 'sub'" (click)="navigateToAddProduct(this.categoryId)" routerLinkActive="router-link-active">
                            <div class="col-md-3 col-sm-12 col-xs-12 square">
                                <i class="fas fa-plus" style="font-size:48px; color: white;" ></i>
                                <div class="mt-4 col-md-12">
                            
                                </div>
                                <h5 style="font-weight: inherit; color: white;" > Add Product</h5>
                            </div>  

                            <div class="col-md-12" >
                                <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12 square" *ngFor="let product of product; let i = index;">
                                    <h3 style="color:white;">{{product?.name}}</h3>
    
                                </div> 

                                </div>
                              </div>
                        </div>
 
    </div>
    </div>