.main-heading{
    padding:1rem;
    font-weight: bold;
}

.square {
    height: 150px;
    width: 150px;
    font-weight: bold;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #005fd5;
    cursor: pointer;
    margin: 1rem 1rem 1rem 1rem;
  }

  .square-description{
    height: 150px;
    width: 150px;
    font-weight: bold;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
  }

  .square:hover{
    background-color: #002f6a;
    color:#020122;
  }