<app-navbar></app-navbar>
<div class="main">
<div class="row  main-heading">
  <div class="col-md-12" style="text-align:center;">
    <h1 style="font-weight:inherit; font-size: 40px;">Add a new Product</h1>
    <div class="col-sm-12">
    Define a new product here
    </div>
  </div>
</div>

<div class="row">
  <div class="mt-4 col-md-12">

  </div>

</div>
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; background-color: #005fd5;">
            <h4 style="color:white;">Product Path</h4></label>
          
      </div>
      <div class="col-md-6">
          
          <label class=" btn btn-sm form-control btn-success" style=" height: 50px; font-weight: bold; cursor: text;">
              <h4 style="color:white;">
                  <span>Home/</span>
                  <span *ngFor="let category of categoryList.slice().reverse() ">{{category?.categoryName}}/</span>
              </h4>
          </label>
          
      </div>
  </div>

</div>
<div class="row">
    <div class="mt-4 col-md-12">
  
    </div>
  
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form [formGroup]="productsForm">
        <div class="row">
          <div class="col-md-6" style="text-align: center; margin-right: 0em;">
              <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; background-color: #005fd5;">
                <h4 style="color:white;">Product Name</h4></label>
              
          </div>
          <div class="col-md-6" style="text-align:center; margin-left: 0rem;">
              <input formControlName="name" name="name" id="name" class="form-control" style="height: 50px;">
          </div>
        </div>
        <div class="row">
            <div class="mt-4 col-md-12">
          
            </div>
          
          </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center; margin-right: 0em;">
                <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; margin-block-end: 0; background-color: #005fd5;">
                  <h4 style="color:white;">Product Description</h4></label>
                  <textarea formControlName="description" name="description" id="description" class="form-control" style=" margin: 0;"></textarea>
                
            </div>
          </div>
          <div class="row">
              <div class="mt-4 col-md-12">
            
              </div>
            
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin-right: 0em;">
                    <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; margin-block-end: 0; background-color:#005fd5;">
                      <h4 style="color:white;">Add Other Feature (Optional)</h4></label>
                      <label class=" btn btn-sm form-control btn-success" style=" height: 50px; font-weight: bold; margin-block-end: 0; margin-block-start: 0;">
                      <p>As of now you can define only one feature, however, you can add more features in the product window
                        </p>
                      </label>
                      
                      <!---<div class="row container" *ngFor="let detail of otherDetails; let i = index;" style="margin-top: 1rem;">
                          <div class="col-md-6" style="text-align: center; margin-right: 0em;">

                              <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; background-color: #005fd5;">
                                <h4 style="color:white;">Feature Name</h4></label>
                              
                          </div>
                          <div class="col-md-6" style="text-align:center; margin-left: 0rem;">
                              <input formControlName="detail{{detail}}" name="detail{{detail}}" id="detail{{detail}}" class="form-control" style="height: 50px;">
                          </div>

                          <div class="col-md-6" style="text-align: center; margin-right: 0em;">
                              <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; background-color: #020122;">
                                <h4 style="color:white;">Detail Description</h4></label>
                              
                          </div>
                          <div class="col-md-6" style="text-align:center; margin-left: 0rem;">
                              <input formControlName="detail{{detail}}desc" name="detail{{detail}}desc" id="detail{{detail}}desc" class="form-control" style="height: 50px;">
                          </div>

                        </div>-->
                        
        <form [formGroup]="questionForm">
            <div class="input-group" style=" margin-block-end: 0; margin-bottom: 0;">
              <label class="btn btn-primary btn-lg form-control" style="pointer-events: none; background-color: #005fd5; height: 50px;"><h4 style="color:white;">Feature</h4></label>
            </div>
            <div class="input-group" style=" margin-block-start: 0; margin-top: 0;">
                <textarea class="form-control" formControlName="content" name="content" id="content" type="text"
                placeholder="Post your Feature here"></textarea>
            </div>
            <div ngbDropdown class="input-group">
              <label ngbDropdownToggle class="btn btn-primary btn-lg form-control" id="dropDown" style=" height: 50px; background-color: #005fd5;"><h4 style="color:white;">Type of Feature Option</h4></label>
                  <div class="row" ngbDropdownMenu aria-labelledby="dropDown">
                      <button class="row input-group dropdown-item" (click)="changeRadioSingle()">  Single Choice Correct</button>
                      <button class="row input-group dropdown-item" (click)="changeRadioMultiple()">  Multiple Choice Correct   </button>                    
                      <button class="row input-group dropdown-item" (click)="changeRadioFill()">  Fill in the Blanks</button>
                      <button class="row input-group dropdown-item" (click)="changeRadioOneOrMore()">  One or More than one Correct</button>
                          
                       
                  </div>
                  <label class="btn btn-success btn-lg form-control" style="pointer-events: none; height: 50px;">{{this.displayType}}</label>
            </div>
  
            <div class="input-group">
              <label class="btn btn-primary btn-lg form-control" style="pointer-events: none; height: 50px; background-color: #005fd5;"><h4 style="color:white;">Prepare Feature Options</h4></label>
            </div>
            <div class="input-group row" id="fillIn" style="display:none;">
                <div class="input-group row">
                    <div class="col-md-12">
                    <label class="btn-warning btn btn-sm form-control" style="pointer-events: none; font-weight: bold; margin-block-end: 0;">Input your feature</label>
                    <input type="text" class="form-control" formControlName="fillInAnswer" name="fillInAnswer" id="fillInAnswer" placeholder="Your Feature">
                     </div>
                  </div>
            
            </div>
            <div class="input-group row" id="notFillIn" style="display:none;">
  
              <div class="input-group row" *ngFor="let options of inputOptions; let i = index;">
                <div class="col-md-12">
                <label class="btn-warning btn btn-sm form-control" style="pointer-events: none; font-weight: bold; margin-block-end: 0;">Input your Option {{options}}</label>
                <input type="text" class="form-control" formControlName="option{{options}}" name="option{{options}}" id="option{{options}}" placeholder="Your Option {{options}}">
                 </div>
                 
              </div>
              <div class="input-group row">
                <div class="col-md-4">
                  <button class="btn-primary btn-sm form-control" (click)="addOptions();">Add New Option</button>
                 </div>
                 <div class="col-md-4" *ngIf="this.inputOptions.length > 1">
                  <button class="btn-danger btn-sm form-control" (click)="removeLastOption();">Remove last Option</button>
                 </div>
              </div>
              
                    <!---<div class="input-group row">
                      <div class="col-md-12">
                      <label class="btn-warning btn btn-sm form-control" style="pointer-events: none; font-weight: bold; margin-block-end: 0;">Input Correct Option(s) Number separated by ","</label>
                      <input type="text" class="form-control" formControlName="correctAnswers" name="correctAnswers" id="correctAnswers" placeholder="Correct Option(s) Number" pattern="[0-9]," required>
                       </div>
                    </div>-->
              
            </div>
            <div class="mt-4 col-md-12">
    
            </div>

          </form>
                        <!--<div class="row container" style="margin-top: 1rem;"> 
                          <div class="col-md-4">
                              <button class="btn btn-md btn-success" (click)="addDetails();">Add more features</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-md btn-danger" *ngIf="this.otherDetails.length>1" (click)="removeLastDetail();">Remove Last Feature</button>
                              </div>
                            
                            
                        </div>-->

                    
                </div>
              </div>
              <div class="row">
                <div class="mt-4 col-md-12">
              
                </div>
              
              </div>
              <!--<div class="row">
                <div class="col-md-6" style="text-align: center; margin-right: 0em;">
                    <label class=" btn btn-sm form-control" style=" height: 50px; font-weight: bold; background-color: #005fd5;">
                      <h4 style="color:white;">Product Image</h4></label>
                    
                </div>
                <div class="col-md-6" style="text-align:center; margin-left: 0rem;">
                    <input formControlName="file" name="file" id="file" type="file" style="height: 50px;" (change)="OnSelectedFile($event)">
                </div>
              </div>-->
            <div class="row">
                <div class="mt-4 col-md-12">
              
                </div>
              
              </div>
          <div class="row">
              <div class="col-md-12" style="text-align: center;">
                  <button class="btn form-control btn-lg btn-dark submit-button" (click)="createProduct();">Submit</button>
                  
              </div>
              <div class="row">
                <div class="mt-4 col-md-12">
              
                </div>
              
              </div>
              <div class="col-md-12" style="text-align: center;">
                <button class="btn btn-lg btn-warning form-control back-button" routerLink="/root-admin" >Back to Home</button>
                
            </div>
             
            </div>
          
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</div>